<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="swiftpro">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import swiftpro urdf file -->
    <xacro:include filename="$(find swiftpro)/urdf/pro_model.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="swiftpro.ros2_control.xacro" />


    <xacro:swiftpro_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
